* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;   /*對全部元素作設定*/
}
body {
	font-family: 'Sourc Sans Pro', sans-serif;
	font-size: 1rem;
	-webkit-font-smoothing: antialiased;	
	-moz-font-smoothing: antialiased;
}

ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

img {
	display: block; 
	width: 100%;
}

a {
	display: inline-block;
	text-decoration: none;
	color: black;
}

h2 {
	margin: 0;
	font-size: 1.7rem;
	line-height: 1.5;
}

p {
	margin: 0;
	color: #7e7e7e;
	line-height: 1.5rem;
}

/* custom class (全域設定) */

.clearfix,.row:after {
	content: "";
	display: table;
	clear: both;
}

.container {
		width: 320px; 
		margin: 0 auto;
	}

#content > div {
	padding-top: 100px;
}

.col-3, .col-4, .col-6 {

	width: 100%;
}

/*for mobile*/

.col-6 {
	margin-bottom: 3rem; 
}

/*for mobile*/

.white-text {
	color: white;
}

.subtitle {
	margin: 2rem 0;
}

.button {
	border-radius: 3rem;
	padding: 1rem 2.5rem;
	background-color: white;
    color: #45abec;    
    font-size: .8rem;
    font-weight: bold;
}

/*header*/

#header {
	position: fixed;
    left: 0;
    right: 0;
    padding: .8rem 0;
}


.logo {
	float: left;
	width: 15%;
}


#maun-toggle {
	float: right;
	position: relative;
	z-index: 10;
	display: block;
}

#nav {
	display: none;
	position: fixed;
	top: 2.8rem;
	padding: .5rem 0;
	background-color: white;
}


#nav a {
	padding-left: 2rem;
    padding-right: 12rem;
    line-height: 2;
	font-size: 1.5rem;
}



.login {
	display: none;
}

/* content */

.blue-bg {
	background-color: #45abec;
}

/*
@media (min-width: 1024px) {
	.container {
		width: 1170px; max-width?
		
	}

	#header {
		position: static;
		left: 0%;
		transform: translateX(0%);
	}

	#maun-toggle {
		display: none;
	}

	#nav {
		display: block;
		background: transparent;
		float: left;
	}

	#nav li {
		float: left;
	}
	
	#nav a {
		padding: 0;
		padding-left: 10px;
		font-size: 1rem;
	}

}
*/


