* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;   /*對全部元素作設定*/
}
body {
	font-family: 'Sourc Sans Pro', sans-serif;
	font-size: 1rem;
	-webkit-font-smoothing: antialiased;	
	-moz-font-smoothing: antialiased;
}

ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

img {
	display: block; 
	width: 100%;
}

a {
	display: inline-block;
	text-decoration: none;
	color: black;
}

h2 {
	margin: 0;
	font-size: 1.6rem;
	line-height: 1.5;
	color: #3f4450;
}

h4 {
	margin: 0;
	font-size: 1.2rem;
	line-height: 1.5;
	color: #3f4450;
}

p {
	margin: 0;
	color: #7e7e7e;
	line-height: 1.5rem;
}

/* custom class (全域設定) */

.clearfix,.row:after {
	content: "";
	display: table;
	clear: both;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}


.clear {
	clear: both;   /*clearfix無效 加上icon後再試試看*/
}

.container {
	width: 320px;    /*用min-width or max-width header無法對齊*/
	margin: 0 auto;
	/*padding: 0 1rem;*/
}

#content > div {
	padding-top: 100px;
}

.col-3, .col-4, .col-6 {

	width: 100%;
}


/*for mobile*/

.col-6 {
	margin-bottom: 3rem; 
}

/*for mobile*/

.blue-bg {
	background-color: #45abec;
}

.gray-bg {
	background-color: #f4f6fa;
}

.white-text {
	color: white;
}

.intro {
	text-align: center;
}

.subtitle {
	padding: 2rem 0;
}

.button {
	border-radius: 3rem;
	padding: 1rem 2.5rem;
	background-color: white;
    color: #45abec;    
    font-size: .8rem;
    font-weight: bold;
}


/*header*/

.header-fixed {
	position: fixed;
	left: 0;
	right: 0;
    padding: .8rem 0;
}

#header i{
	margin-bottom: 0;
	font-size: .5rem;  /*換icon後再次確認是否需要*/
}

.logo {
	float: left;
	width: 30%;
}


#maun-toggle {
	float: right;
	position: relative;
	z-index: 10;
	display: block;
}

#nav {
	display: none;
	position: fixed;
	top: 2.8rem;
	padding: .5rem 0;
	background-color: white;
}


#nav a {
	padding-left: 2rem;
    padding-right: 12rem;
    line-height: 2;
	font-size: 1.5rem;
}



.login {
	display: none;
}



/* content */



i {
    display: inline-block;  /*換icon再確認一次此屬性 */
    margin-bottom: 2rem;
    font-size: 3.5rem;
}


/*features*/

.feature {
	margin-bottom: 1.5rem;
	padding: 1rem;
	background-color: white;
}

.features h4 {
	margin-top: 1.5rem;
}

.features img {
	margin-top: 2rem;
}


/*pricing*/

.btn-border {
	border-radius: 2.5rem;
	padding: .5rem;
	background-color: white;
}


.button.big {
	width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #7e7e7e;
}

.button.active  {
	background-color: #45abec;
    color: white;
}




/*
@media (min-width: 1024px) {
	.container {
		width: 1170px; max-width?
		
	}

	#header {
		position: static;
		left: 0%;
		transform: translateX(0%);
	}

	#maun-toggle {
		display: none;
	}

	#nav {
		display: block;
		background: transparent;
		float: left;
	}

	#nav li {
		float: left;
	}
	
	#nav a {
		padding: 0;
		padding-left: 10px;
		font-size: 1rem;
	}

}
*/


